body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 800px;
    border: 1px solid #fce4ec;
    position: relative;
}

h1 {
    color: #d81b60;
    font-weight: 600;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    background-color: #d81b60;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #ad1457;
}

#monthYear {
    font-weight: 600;
    font-size: 18px;
    color: #d81b60;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.day {
    padding: 10px;
    background: #fce4ec;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #f8bbd0;
}

.day.selected {
    background: #d81b60;
    color: white;
}

.day.blank {
    background: none;
    cursor: default;
}

